section#what
    .container
        +gt('','Что такое полевое исцеление или системные расстановки?')
        p.general-text Это уникальный метод решения проблем во всех сферах жизни
        p.general-text Согласно теории Берта Хеллингера, автора метода, все проблемы человека происходят из семейной системы. Поэтому, чтобы разобраться в проблеме, найти ее корень и избавиться от него, надо воспроизвести семейную систему клиента. Воспроизведение происходит на сеансе и называется 
            span расстановкой
        p.general-text 
            span Цель расстановок
            | - исцелить травму родовой системы, которая из поколения в поколение передается «по наследству» и не дает человеку жить своей здоровой, счастливой, полноценной жизнью
        a.button.button-mt(href="#prices") Хочу жить полноценной жизнью