section#for
	.container
		+gtw('','Для кого подходит метод системных расстановок?')
		p.general-text.general-text-white Запросом на расстановку может быть абсолютно любая ситуация, без ограничений:
		.row
			.col-md-6.col-sm-6
				ul.for-list
					li Не можете создать отношения
					li Проблемы с родителями, детьми, между супругами
					li Бесплодие
					li «Любовный треугольник»
					li Тяжелый «рок», передающийся «по наследству»
					li Негативные чувства (гнев, тревога, страх, вина, обида и пр.) и состояния (депрессия, апатия, уныние и пессимизм, психоэмоциональная слабость и т. д.)
					li Финансовые трудности
					li Проблемы в бизнесе
			.col-md-6.col-sm-6
				ul.for-list
					li Частые форс-мажоры.
					li Серьезные заболевания и психосоматика.
					li Происходят денежные «сливы».
					li Зависимые люди (алкоголики, наркоманы, сексуально зависимые).
					li Созависимые люди (у кого в семье зависимые родственники, 					li инвалиды).
					li Не видите выхода из сложившейся ситуации.
					li Долгое время ходите по кругу в своей проблематике.
					li И другие...
		a.button.button-mt(href="#prices") Выбираю жизнь без проблем