section#how
	.container
		+gt('','Как это происходит?')
		h4.players-title Участники расстановки:
		.row
			.col-md-4.col-sm-4
				.player.player-1
					p.player-text
						span Ведущий
						span  системных расстановок 
						| (расстановщик)
			.col-md-4.col-sm-4
				.player.player-2
					p.player-text
						span Клиент
						|  - человек, который обращается за помощью к расстановщику с каким-либо запросом. Т.е. кратко формулирует проблему, которая его волнует
			.col-md-4.col-sm-4
				.player.player-3
					p.player-text.player-text-3 
						span Заместители
						|  - люди, которые присутствуют на сеансе и принимают на себя роли из семейной системы клиента. После активации поля они проживают чувства тех людей, которых замещают
		.course
			h5.how-subtitle Ход расстановки:
			p.general-text 
				span Клиент 
				| озвучивает свою проблему. 
				span Расстановщик 
				| предлагает ему выбрать из присутствующих 
				span «заместителей»
				| - людей, которые будут воспроизводить персонажей из его проблемной жизненной ситуации, в том числе его самого.
			p.general-text 
				span Клиент 
				| расставляет заместителей на те места, которые они, в его понимании, занимают в реальной ситуации
			p.general-text В процессе расстановки 	
				span заместители 
				| «сканируют» ощущения клиента и передают их. Они «распаковывают» ситуацию и делают все скрытое явным. 
				span Заместители, 
				| испытывая не свои чувства, четко отображают картину произошедших событий, которые являются причиной проблем человека
		h5.how-subtitle Откуда у заместителей возникают эти желания и чувства?
		p.general-text Каждый человек является своеобразным носителем информации своего рода. Его подсознание, или энергополе, помнит все, что происходило с его предками. Как они вели себя в тех или иных случаях, что чувствовали. Во время расстановки заместители «считывают» с энергополя клиента информацию о поведении, эмоциях его родных и воспроизводят ее
		p.general-text.general-text-iconed.general-text-iconed-1 Расстановщик комментирует действия заместителей, объясняет клиенту, почему они себя так ведут, какая у них мотивация
		p.general-text.general-text-iconed.general-text-iconed-2 И клиент, наблюдая со стороны за заместителями, может понять, откуда взялась его проблема, что произошло в прошлых поколениях и почему теперь это мешает ему жить
		p.general-text По окончании сеанса расстановщик подводит итог и дает клиенту рекомендации о том, что ему нужно изменить в жизни или в себе для того, чтобы исправить ситуацию
		a.button.button-mt(href="#prices") Записаться на сеанс