section#get
	.container
		+gtw('','Что получают участники от личной расстановки?')
		.benefits
			.benefit.benefit-1
				.benefit-title
					h4 Клиент от личной расстановки
				.benefit-info.benefit-info-1
					p.general-text.general-text-white Прорабатывает проблему, т.е. видит ее причину, понимает, как от нее избавиться. Проблема превращается в задачу, к решению которой человек может подойти эмоционально нейтрально
					p.general-text.general-text-white Исцеляет не только свое поле, но и родовую систему, запустившую механизм проблематики. Таким образом, не допускает повторения ситуации в своей жизни и в жизни своих детей
					p.general-text.general-text-white Встает на собственный жизненный путь, перестав отрабатывать недопрожитый кем-то в роду сценарий
			.benefit.benefit-2
				.benefit-title
					h4 Заместитель от участия в расстановке
				.benefit-info.benefit-info-2
					p.general-text.general-text-white Заместитель имеет возможность косвенно проработать свои проблемы, резонирующие с проблемой клиента. Поэтому, помогая клиенту, заместитель напрямую помогает себе. И в дальнейшем у него тоже происходят собственные благоприятные изменения в жизни
		a.button.button-mt(href="#prices") Изменить жизнь к лучшему