mixin advance(cl, h4,p)
	.col-md-4.col-sm-4
		.advance(class= cl)
			h4.advance-title= h4
			p.advance-text= p
section#advances
	.container
		+gt('general-title-advants','Преимущества системных расстановок перед другими психологическими методами')
		.row
			+advance('advance-1','Быстрота','Не надо ходить к психотерапевту месяцами и годами. Всё, что нужно для решения проблемы, выясняется в течение одной расстановки за час-полтора')
			+advance('advance-2','Работа с подсознанием','Расстановка попадает в такие глубокие слои подсознания, куда обычная психология пробирается годами или не пробирается никогда')
			+advance('advance-3','Эффект от расстановки','Сразу после сеанса в течение нескольких месяцев человек начинает проживать запущенные процессы, что приводит его к желаемому результату')
		p.advance-aftertext Благодаря своей эффективности и быстроте проявления результатов метод системных расстановок за несколько десятков лет успел завоевать сердца миллионов педагогов, маркетологов, психологов, социологов, психиатров во всем мире
		a.button.button-mt(href="#prices") Иду на расстановки