section#prices
	.container
		.row
			.col-md-.col-sm-6
				.packet.packet-1
					.packet-body
						h4.packet-body-title А теперь признайтесь себе:
						p.general-text.general-text-white У вас есть проблема, которая мешает жить и чувствовать себя счастливым человеком? В отношениях, семье, бизнесе, здоровье
						p.general-text.general-text-white Хотите взглянуть на нее со стороны «свежим взглядом»? За 1-1.5 часа разобраться, откуда она взялась и как с ней бороться?
						p.general-text.general-text-white Готовы что-то (а возможно, и многое) поменять в себе и в жизни, чтобы избавиться от нее раз и навсегда? А еще избавить своих детей от проживания того же сценария?
					.packet-footer
						p.general-text.general-text-white Тогда записывайтесь и приходите на системные расстановки в качестве клиента
						h5.packet-footer-aftertitle Стоимость участия:
							span 10 000р.
						a.button.button-footer(href="" target="_blank") Оплатить участие
			.col-md-.col-sm-6
				.packet.packet-2
					.packet-body
						h4.packet-body-title Если вы:
						p.general-text.general-text-white Пока не готовы вслух объявить о своей проблеме
						p.general-text.general-text-white Но хотите стать «заместителем» в расстановке «клиента», чтобы вместе проработать свою ситуацию и найти выход
						p.general-text.general-text-white Хотите научиться чувствовать энергополе и «считывать» с него информацию, чтобы в дальнейшем стать системным расстановщиком
					.packet-footer
						p.general-text.general-text-white То записывайтесь и приходите на системные расстановки в качестве «заместителя»
						h5.packet-footer-aftertitle Стоимость участия:
							span 1 500р.
						a.button.button-footer(href="" target="_blank") Оплатить участие