section#author
	.container
		+gt('','О тренере: Жанна Абрамова')
		ul.author-list
			li Клинический психолог
			li Гештальт-терапевт
			li Мастер практической психологии (факультет клинической психологии Академии при президенте РФ РАНХиГС) и технологий осознанности
			li Коуч, тренер обучающих и трансформационных программ
			li Процессор-техник РПТ, Тета-Хилинга, субклеточный психобиологии
			li Эксперт TV-радио-шоу, информационных передач
			li Автор тренинговых программ и курсов по женской психологии
			li Жанна более 12 лет работает с женщинами и является экспертом в области отношений между мужчиной и женщиной. Также, постоянно занимается работой с детьми и социальными проектами
			li Коуч, женский тренер, автор трансформационных программ МАК «Ключ к неизведанному», «Восстановление справедливости» «Отправная точка заболеваний», «За гранью разума», «Сам себе доктор», «Метафизика — Ключ к исцелению Души и тела», «Управление реальностью», «Мышление будущего», трансформационный женский тренинг «Анатомия Отношений», «От перца к сердцу», «Как получать подарки», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»
		img(src="img/collage.jpg", alt="Коллаж")#collage