header
	padding 10px 0
#logo
	width 100px
	height 44px
	background-image url(../img/backgrounds/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	float left
.contacts
	margin: 10px 0
	text-align: center
.contact
	display: inline-block
	font-family: 'Arial', sans-serif
	font-size: 16px
	color #000
	margin-left: 19px
	padding-left: 26px
	background-repeat no-repeat
	background-position: bottom left
	background-size: contain
	&:focus
		text-decoration: none
		color #000
	&:hover
		color #000
		text-decoration: underline
.contact-tel
	margin-left: 0
	background-image url(../img/icons/phone.png)
.contact-skype
	background-image url(../img/icons/skype.png)
.contact-mail
	padding-left: 34px
	background-image url(../img/icons/mail.png)
.header-contact
	text-align: right
	line-height: 42px
	a
		display: inline-block
		font-family: 'Arial', sans-serif
		font-size: 16px
		color #000
		margin-left: 19px
		padding-left: 26px
		background-image url(../img/icons/phone.png)
		background-repeat no-repeat
		background-position: center left
		background-size: 17px
		&:focus
			text-decoration: none
			color #000
		&:hover
			color #000
			text-decoration: underline