header
	padding 2% 0
#logo
	width: 231px
	height 17px
	background-image url(../img/backgrounds/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	float left
.contacts
	line-height: 17px
	float: right
	text-align: right
.contact
	display: inline-block
	font-family: 'Arial', sans-serif
	font-size: 16px
	color #000
	margin-left: 19px
	padding-left: 26px
	background-repeat no-repeat
	background-position: bottom left
	background-size: contain
	&:focus
		text-decoration: none
		color #000
	&:hover
		color #000
		text-decoration: underline
.contact-tel
	margin-left: 0
	background-image url(../img/icons/phone.png)
.contact-skype
	background-image url(../img/icons/skype.png)
.contact-envelope
	padding-left: 34px
	background-image url(../img/icons/envelope.png)