#main
	padding 70px 0 50px
	background-color: #908F8D
	background-image url(../img/backgrounds/main_bg.jpg)
	background-repeat no-repeat
	background-position: center top -80px
	background-size: cover
.main-title
	color: #fff
	font-size: 36px
	line-height: 48px
	width 100%
	max-width 520px
	letter-spacing: 3px
	span
		display: inline-block
		background-color #fff
		color #49183e
		font-family: GeB
		line-height: 0.9;
.main-subtitle
	font-size: 24px
	color: #49183e
	margin 30px 0 40px
	span
		display: inline-block
		font-family: GeB
		color: #fff
.video-wrapper-main
	max-width 400px
	margin-left: 0
.button-container
	width 100%
	max-width 400px
	padding 40px 30px 40px 145px
	border: 3px solid #fff
	background-image url(../img/icons/envelope.png)
	background-repeat no-repeat
	background-position: left 20px center
	background-color: #936280
	margin-top: 35px