footer 
	padding 20px 0
	text-align: center
	h5
		font-size: 22px;
		font-family: GeB
	p
	#conditions
		font-size: 14px;
		opacity .8
		color initial
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 15px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #f6c462
			color: #000;
			line-height: 28px;
			border: 1px solid;
			&:hover
				opacity .8