#for
    padding 50px 0
    background-color: #936280
.for-list
    li
        list-style none
        margin-bottom: 15px
        // padding-top: 10px
        color: #fbf1f9
        background-image url(../img/icons/check.png)
        background-repeat no-repeat
        background-position: left top
        padding-left: 36px