#advances
	@extend #what
.general-title-advants
	span
		display block
		width 100%
		max-width 630px
		margin 0 auto
.advance
	width 100%
	max-width 300px
	margin: 0 auto
	&-1
		margin-left: 0
	&-3
		margin-right: 0
	&-title
		text-align: center
		font-family: GeB
		color: rgb(73, 24, 62);
	&-text
		text-align: justify
		margin 25px 0 60px
.advance-aftertext
	padding 40px 30px
	position relative
	border: 3px dashed #936280
	&:before
		content: ''
		display block
		position: absolute
		width 82px
		height 82px
		border-radius: 50px
		top -40px
		left -40px
		background-image url(../img/icons/list.png)
		background-repeat no-repeat
		background-position: center