#author
	@extend #what
	background-image url(../img/backgrounds/janna.png)
	background-repeat no-repeat
	background-position: top -280px right
	background-size 60%
.author-list
	width 100%
	max-width 636px
	list-style-position: inside
	margin-top: 80px
	li
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0