.button
.general-title
.general-text span
.main-title span 
.main-subtitle span
.player-text span	
.how-subtitle
.advance-title
.packet-body-title
.packet-footer .general-text
.packet-footer-aftertitle span
footer  h5
	font-weight: bold